<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd ">
	<http authentication-manager-ref="manager" access-denied-page="/erroPage"
		auto-config="true">
		<intercept-url pattern="/administrador/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/usuario/**" access="ROLE_USER, ROLE_ADMIN" />
		<intercept-url pattern="/home/**" access="ROLE_USER, ROLE_ADMIN" />
		<intercept-url pattern="/erroPage/**" access="ROLE_USER, ROLE_ADMIN" />
		<form-login login-page="/login" always-use-default-target="true"
			default-target-url="/home" authentication-failure-url="/login" />
		<logout logout-success-url="/login" />
	</http>
</b:beans>
