#container {
	border: 2px solid red;
	margin: 0 auto;
	width: 98%;
	height: 100%;
	position: fixed;
}

#header {
	width: 100%;
	height: 10%;
	min-height: 70px;
	border: 2px solid blue;
	position: static;
	border: 2px solid blue;
}

#footer {
	width: 100%;
	height: 10%;
	min-height: 70px;
	border: 2px solid green;
	position: static;
}

#body {
	border: 2px solid yellow;
	height: 75%;
	overflow: auto;
	position: relative;
}