.principal {
	margin: 0 auto;
	width: 70%;
	border: 2px solid yellow;
}

.cabecalho {
	border: 1px solid blue;
	height: 100px;
}

.rodape {
	border: 1px solid blue;
	height: 100px;
	bottom: 0;
}

.ui-widget {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}