.btn-remover-disciplina {
	width: 40px !important;
	float: right !important;
}

.conteudo-cadastro-curso {
	margin-top: 2% !important;
}

.conteudo-associacao {
	margin-top: 5% !important;
}

.fieldInfo {
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	margin-bottom: 1%;
}

.fieldInfo legend {
	width: 150px !important;
	border: none !important;
}

.infos section {
	margin-bottom: 0 !important;
}

@media screen and (max-width: 800px) {
	.header-infos {
		display: none !important;
	}
}