<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http use-expressions="true" auto-config="true" authentication-manager-ref="defaultAuthenticationManager" pattern="/ws/**">
		<custom-filter ref="customPreAuthFilter" before="PRE_AUTH_FILTER" />
	</http>

	<http use-expressions="true" auto-config="true" authentication-manager-ref="defaultAuthenticationManager" access-denied-page="/login.jsf">
		<intercept-url pattern="/pages/**" access="hasRole('admin')" />
		<form-login login-page="/login.jsf" authentication-failure-url="/login.jsf" always-use-default-target="true" />
		<logout logout-success-url="/login.xhtml" delete-cookies="JSESSIONID" />
		<session-management invalid-session-url="/login.jsf">
			<concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
		</session-management>
	</http>

</beans:beans>