<beans xmlns="http://www.springframework.org/schema/beans" xmlns:sec="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd    
                        http://www.springframework.org/schema/security  http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- Aqui sao definidas as configuracoes de acesso para as paginas da aplicacao. É informado tambem o bean responsavel por ser o ponto de entrada do processo de 
		autenticacao. -->
	<sec:http auto-config="true" use-expressions="true" entry-point-ref="casAuthenticationEntryPoint">
		<sec:intercept-url pattern="/secure/**" access="isAuthenticated()" requires-channel="https" />
		<sec:logout logout-success-url="/index.jsf" />

		<!-- Normalmente é configurado um form-login para realizar o login na aplicacao, porem como o login ficará a cargo do CAS, um custom-filter foi informado com a 
			referencia do bean responsavel pelo processo de autenticacao. -->
		<sec:custom-filter ref="casAuthenticationFilter" after="CAS_FILTER" />

		<sec:custom-filter ref="requestSingleLogoutFilter" before="LOGOUT_FILTER" />
		<sec:custom-filter ref="singleLogoutFilter" before="CAS_FILTER" />
	</sec:http>

	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider ref="casAuthenticationProvider" />
	</sec:authentication-manager>

	<!-- Servico de consulta de usuarios em memoria -->
	<!-- <sec:user-service id="userService"> -->
	<!-- <sec:user name="root" password="root" authorities="ADMIN" /> -->
	<!-- </sec:user-service> -->

	<!-- Servico de pesquisa de usuario. Faz a consulta na base de dados utilizando a datasource informada de acordo com as queries SQL para o carregamento dos usuários 
		e das permissoes -->
	<sec:jdbc-user-service id="jdbcUserService" data-source-ref="ssoDataSource" users-by-username-query="select u.email, u.senha, u.status from usuario u where u.email = ?"
		authorities-by-username-query="select * from permissao p inner join usuario_permissao up on p.id = up.permissao_id inner join usuario u on up.usuario_id = u.id where u.email = ?" />
</beans>